<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <div>
      <% include ./partials/header %>
    </div>
    <main class="main_position" id="">
        <div class="jumbotron my_jumbotron">
            <h1>Dobro došli</h1>
            <p class="lead text-center p_position">Stranica MojPosao ima za cilj da vam da na pregled otvorene natječaje koje su postavile firme i poslovni objekti.Želimo vam svu srecu u daljnoj pretragi i prijavi.</p>
            <p><a class="btn btn-primary" role="button">Dalje </a></p>
        </div>

    </main>
    <div class="footer-dark">
        <% include ./partials/footer %>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>

</body>

</html>
